<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container">
  <a class="navbar-brand" href="#">{{data.brand}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse links" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {{#each data.links}}
      <li class="nav-item active">
        <a class="nav-link" href="{{this.url}}">{{this.label}} <span class="sr-only">(current)</span></a>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>
</div>
</body>
</html>
