
body{
    background-color: rgb(40, 40, 43);
    
}
.links{
    justify-content: right;
}

.slider-img{
    height: 600px;
    object-fit: cover;
    filter: brightness(35%);
}

.car-cap{
    margin-bottom: 15%;
}

/* .section-bg{
    background-color:rgb(240, 240, 240)
} */

.icon{
    font-size: 50px;
}

.img-size{
    height: 300px;
}

.card-img{
    height: 200px;
    object-fit: cover;
    background-color: #353839;

}
.card{
    background-color: #343434;
    
}
.featured{
    background-color: #353839;
}
.featured-container{
    background-color:#343434;
}
.container-bg{
    background-color:#343434;
}

.react{
   background-color: #343434;
}

.heading-style{
    margin-top: 50px;
    font-size: 30px;
    font-weight:500;
    margin-bottom:20px;
}

.card-post{
    margin-bottom:20px; 
    display: flex;
     flex: 1 1 auto;
      border:none;
      background-color: #343434;
       flex-direction: row; 
       align-items: center; 
    height: 300px;
}

.blog-card-img{
    width: 300px; 
    height: 300px;
    border-bottom-right-radius: 5px; 
    object-fit: cover;
}

.blog-card-body{
    margin-left:50px; 
    margin-bottom:20px;
}
.logo{
    font-size: 280px;
    filter: brightness(75%);
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

hr{
    border: 2px solid #0275d8;
    width: 14%;
    border-radius: 10px;

}


/*body {
    background-color: #E8ECEF;
  }*/
  
  /* .centered {
      padding-top: 200px;
      text-align: center;
  } */
  
  /* .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  } */